:root{
    --color:rgb(116, 111, 111);
}
.contactheader{
    margin: 15px 150px 0px 150px;
}
.contactheader h1{
    font-size: 45px;
    font-weight: 700;
}
.contactheader p{
    color: var(--color);
}